@import './bootstrap.min';
// @import './font-awesome.min';
// @import 'font-awesome-4.7.0/css/font-awesome.min';
// @import 'font-awesome-4.7.0/scss/font-awesome';
// @import '../font-awesome-4.7.0/css/font-awesome.min';
@import 'font-awesome-4.7.0/scss/font-awesome';

body {
	height: 3000px;
	background: grey;
	// background: url(../img/wallpapers-space.jpg) 100% 100% no-repeat;
}

.visible {
    display: block;
}
.hidden {
    display: none;
}

#nav-main {
	z-index: 4;
	position: fixed;
	top: 0px;
	width: 100%;
    font-size: 1.6em;
    color: white;
	-webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    -moz-transition-duration: 2s;
    transition-duration: 2s;
    nav {
        height: 100%;
        width: 100%;
        a {
            height: 100%;
        }
	}
    .main-logo {
        img {
            height: 70px;
            width: auto;
            -webkit-transition-duration: 1s;
            -o-transition-duration: 1s;
            -moz-transition-duration: 1s;
            transition-duration: 1s;
        }
    }
    &.nav-down {
        background: transparent;
    }
    &.nav-top {
        background-color: transparentize(grey,.1);
        .main-logo {
            img {
                height: 50px;
                width: auto;
            }
        }
    }
    
}
// .block {
// 	display: block !important;
// }



.home {
	// display: flex;
	// justify-content: center;
	// align-items: center;
	height: 100vh;
	background: url(../img/deathStar.jpg) center center no-repeat;
	background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.home-page-content{
	position: relative;
	top: 40%;
	width: 100%;
    height: 70%;
    margin: 0 0 0 5%;
    max-width: 500px;
    overflow: hidden;
	text-align: left;
	color: white;
    h1 {
    	font-family: "GothamProRegular";
    	letter-spacing: 1px;
    	font-weight: 200;
    	line-height: 27px;
    }
    p {
    	font-family: "GothamProRegular";
    	// letter-spacing: 1px;
    	font-size: 15px;
    	line-height: 25px;
    }
}

// .main-bg {
// 	//height: 100%;
// 	width: 100%;
// 	height: auto;
// 	background: url(../img/wallpapers-space.jpg) no-repeat;
//     background-size: cover;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
// }

.service {
	width: 100%;
	padding: 0;
	background: url(../img/ParallaxStarsBg.png) center center no-repeat;
	background-color: black;
	background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: white;
    .service-row {
        z-index: 2;
    	position: relative;
    	height: 100%;
    	.service-description {
            // display: none;
            // &.visible {
            //     display: block;
            // }
            &.description-right {
                p {
                    text-align: right;
                }
            }
    	}
    	.service-icon{
    		&.icon-right {
    			display: flex;
    			justify-content: flex-end;
    			// align-items: center;
    		}
    	}
    }
    .individual-service {
        text-align: center;
        a {
            border: 5px solid red;
        }
    }
    .stars-parallax {
        position: absolute;
        top: 0px;
    	width: 100%;
    	//height: 100%;
    	padding: 0;
    	overflow: hidden;
    	ul {
    		position: absolute;
    	}
    	li {
    		position: relative;
    		top: 0;
    		margin: 0 0 0 -200px;
    		width: 100%;
    	}
    }
}

.price {
    height: 90vh;
    text-align: center;
    color: white;
    background: url(../img/star-wars-darth-vader-wallpapers-high-definition.jpg) center center no-repeat;
}


.questions {
    width: 100%;
    height: 100%;
    background: black;
    .yoda-parallax {
        ul {
            position: absolute;
        }
        li {
            position: relative;
            top: 0;
            width: 100%;
        }
    }
}

.contacts {
    height: 500px;
    background: url(../img/kWVaXH.jpg) center center no-repeat;
    .user-contact {
        display: block;
        background-color: transparentize(white,.9);
        border: none;
    }
}